{% extends 'base.html' %}
{% block title %}这是子模板重写的标题{% endblock %}
{% block header_ext %}
    <script src="http://mystatic.com/static/js/lib/jquery-1.8.3.min.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="http://mystatic.com/static/css/lib/bootstrap.min.css">
    <script src="http://mystatic.com/static/js/lib/bootstrap.min.js"></script>
    <!--datatable-->
    <link rel="stylesheet"  href="http://mystatic.com/static/css/lib/jquery.dataTables.min.css">
    <script src="http://mystatic.com/static/js/lib/jquery.dataTables.min.js"></script>
    <!--自定义库，方便学习-->
    <link rel="stylesheet" href="http://mystatic.com/static/css/mstyle.css">
    <script src="http://mystatic.com/static/js/mfun.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#datatable').DataTable(
                {
                    initComplete: function () {
                        this.api().columns().every( function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo( $(column.footer()).empty() )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );

                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                    },
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]] // 设置分页项
                }
            );
        });
    </script>
{% endblock %}

{#基本使用#}
{% block basic %}
    <div>
        <h5>循环</h5>
        {% for d in dt %}
            key:{{ d }},value:{{ dt[d]}}
        {% endfor %}
        <h5>条件控制</h5>
        {% if(2>3) %}
            <p>2>3</p>
        {% else %}
             <p>2<3</p>
        {% endif %}
    </div>
    <div>
        <h5>算术运算符</h5>
        {{ 1 + 1 }}
        {{ 3 - 2 }}
        {{ 1 / 2 }} is {{ 0.5 }}.
        {{ 20 // 7 }} is 2
        {{ 11 % 7 }} is 4
        {{ 2 * 2 }} would return 4
        {{ '=' * 80 }}
        {{ 2**3 }}
    </div>
    <div>
        <h5>变量赋值</h5>
        {% set list1=['l1','l2','l3'] %}
        {% for l in list1 %}
            <p>list:{{ l }}</p>
        {% endfor %}
    </div>
    <div>
        <h5>列表和变量显示</h5>
        <p>{{books[0]}}:详细内容book0</p>
        <p>{{books[1]}}:详细内容book1</p>
        <p>{{books[2]}}:详细内容book2</p>
        <p>{{books[3]}}:详细内容book3</p>
        <h5>空格控制</h5>
        <p>删除输出之间的空格</p>
        {% for item in range(1,9)-%}
            {{ item }}
        {%- endfor %}
    </div>
{% endblock %}

{#高级使用#}
{% block medium %}
    <p>高级使用待添加</p>
{% endblock %}

{# 宏处理 #}
{% block macors %}
    <div>
        <h4>使用宏</h4>
        {% import 'macors.html' as forms %}
        <label for="">UserName:</label>{{ forms.input('username') }}
        <label for="">PassWord:</label>{{ forms.input('password', type='password') }}
        <label for="">文本输入框</label>
        {{ forms.textarea('comment') }}
        <h5>表格宏1</h5>
        {{ forms.table("table table-hover",data=ld) }}
    </div>
{% endblock %}

